<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:p="http://www.springframework.org/schema/p"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    
    <context:property-placeholder location="accounts.properties"/>
    
    <bean id="bankAccount" class="com.cts.EBanking.BankAccount" abstract="true"/>
    <bean id="smartBankAccount" class="com.cts.EBanking.SmartBankAccount">
    	<constructor-arg name="customerId" value="100"/>
    	<constructor-arg name="name" value="Joe"/>
    	<constructor-arg name="balance" value="10000"/>
    	<constructor-arg>
    		<list>
    			<value>${current}</value>
    			<value>${recurring}</value>
    			<value>${fixed}</value>
    		</list>
    	</constructor-arg>
    </bean>
</beans>